body {
    background-color:#333333;
}

#debug_canvas {
	padding:0; 
	margin:0; 
	border:none;//1px solid white;
	//position:absolute; 
	background-color:#333333;

    position: absolute; 
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
}

#game_canvas {
	padding:0; 
	margin:0; 
	border:none;//1px solid white;
	//position:absolute; 
	background-color:#ffffff;
}

h1 { 
	//margin-top: 95px; 
	padding-right: 30px;
	text-align: center;
	font-size: xx-large; 
	font-style: italic; 
	font-weight: bold; 
	color: #ffffff; 
}

